.game {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 95%;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto repeat(4, 1fr);
  gap: 4vw;
  
  h2 {
    grid-column: span 4;
    text-align: center;
  }
  
  &-info {
    display: flex;
    justify-content: space-evenly;
    grid-column: span 4;
    
    &-time,
    &-flips {
      font-size: 1.5rem;
    }
  }
  
  &-card {
    background-color: transparent;
    height: 90%;
    width: 18vw;
    // border-radius: 25% 10%;
    perspective: 300px;
    
    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.5s;
      transform-style: preserve-3d;
    }

    &:hover &-wrapper {
      transform: rotateY(180deg); 
    }
    
    &-front,
    &-back {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    &-back {
      background-color: blue;
      border-color: #FF6D00;

      &-logo {
        width: 60%;
        height: 60%;
      }
    }
    
    &-front {
      background-color: #FFBB89;
      border-color: #333;
      transform: rotateY(180deg);
      
      &-pokemon {
        width: 60%;
        height: 60%;
      }
    }
  }
}
