.game {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 95%;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto repeat(4, 1fr);
  gap: 4vw;
  
  h2 {
    grid-column: span 4;
    text-align: center;
  }
  
  &-info {
    display: flex;
    justify-content: space-evenly;
    grid-column: span 4;
    
    &-time,
    &-flips {
      font-size: 1.5rem;
    }
  }
  
  &-card {
    background-color: transparent;
    height: 90%;
    width: 18vw;
    perspective: 300px;
    
    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.5s;
      transform-style: preserve-3d;
    }

    &.matched &-front &-front-pokemon {
      animation: dance 1s linear infinite 500ms;
    }
    
    &.active &-wrapper {
      transform: rotateY(180deg); 
    }

    &:hover &-back-logo {
      transform: scale(1.15);
    }
    
    &-front,
    &-back {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 25% 10%;
      backface-visibility: hidden;
    }
    
    &-back {
      background: radial-gradient($gray-light, $black-custom);

      &-logo {
        width: 60%;
        height: 60%;
        transition: 0.3s;
      }
    }
    
    &-front {
      background: radial-gradient($white-custom, $orange-light);
      transform: rotateY(180deg);
      
      &-pokemon {
        width: 60%;
        height: 60%;
      }
    }
  }
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}