main {
  h1 {
    text-align: center;
    padding: 20px;
  }
}

.cardsContainer {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 5px solid $gray-dark;
  padding: 20px;
  box-shadow: 10px 10px 5px 5px $red-dark;
  transition: transform 0.2s ease-in;

  h2 {
    text-transform: capitalize;
    font-weight: 600;
  }

  p {
    align-self: flex-end;
    font-weight: 600;
  }
}

.card:hover {
  transform: scale(1.1);
}

.pokemon {
  border: 3px solid $gray-dark;
  border-radius: 5%;
  width: 100%;
  height: 300px;
  padding: 10px;
}

.popup {
  position: fixed;
  top: -150%;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $blue-light-transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
  transition: 0.5s;

  &-close {
    position: absolute;
    top: 1%;
    right: 2%;
    height: 10vw;
    width: 10vw;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }

    @include tablet {
      width: 40px;
      height: 40px;
    }

    @include desktop {
      width: 50px;
      height: 50px;
    }
  }

  &-img {
    height: 30vh;
    width: 30vh;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;
    background-color: $black-custom;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transition: 0.2s;

    &:hover {
      box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
      transform: scale(1.02);
      background-color: black;
      border: 2px solid $white-custom;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    text-transform: capitalize;
  }

  &-comments {
    height: auto;
    max-height: 20vh;
    width: 95vw;
    display: flex;
    flex-direction: column;

    h3,
    li {
      width: 100%;
    }

    h3 {
      text-align: center;
      margin: 5px 0;
    }

    ul {
      height: 75px;
      width: 100%;
      overflow-y: auto;
      border: 2px dashed $black-custom;
      padding-left: 1%;
      padding-top: 1%;
    }

    li {
      font-size: 1.5rem;
      margin-bottom: 7px;
    }
  }

  &-info {
    width: 95vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    
    & li {
      width: 98%;
      font-size: 1.3rem;

      &:nth-child(2n) {
        text-align: right;
      }

      &:last-child {
        grid-column: span 2;
      }
    }

  }

  &-add-comments {
    position: relative;
    width: 95vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 2px;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      input,
      textarea {
        background-color: $black-custom;
        border-color: black;
        color: $white-custom;
        padding: 3px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

        &::placeholder {
          color: $white-custom;
          font-weight: 400;
        }
      }

      input {
        width: 200px;
      }

      textarea {
        resize: none;
        max-height: 70px;
        width: calc(100% - 8px);
      }

      button {
        width: 210px;
      }
    }

    div {
      display: none;
      position: absolute;
      top: 2%;
      right: 0;
      background-color: $green-light;
      width: 100px;
      border-radius: 5%;
      padding: 3px;

      p {
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8% 35% 1fr 1fr;
    justify-items: center;

    &-img {
      grid-row: 1 / 3;
      width: calc(100vw - 470px);
      height: 80%;
      align-self: flex-end;
    }

    h2 {
      font-size: 3.5rem;
      justify-self: start;
      align-self: flex-end;
    }

    &-info {
      width: 95%;
      height: 100%;

      li {
        font-size: 2rem;
      }
    }

    &-comments,
    &-add-comments {
      grid-column: span 2;
    }

    &-comments {
      width: 90%;
      height: 100%;
      gap: 20px;

      h3 {
        font-size: 3rem;
      }
      
      ul {
        height: 300px;
      }
    }

    &-add-comments {
      width: 96%;
      height: auto;
      gap: 20px;

      h3 {
        font-size: 3rem;
        text-align: center;
      }

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        input {
          width: 90%;
          height: 40px;
          font-size: 2rem;
          padding: 5px;
        }

        textarea {
          grid-column: span 2;
          height: 100px;
          font-size: 2rem;
          padding: 5px;
        }

        button {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          width: 100%;
          font-size: 2rem;
        }
      }
    }
  }

  @include desktop {
    &-comments,
    &-add-comments {
      grid-column: span 1;
    }

    &-img {
      grid-row: 1 / 4;
      width: 300px;
      height: 300px;
      align-self: center;
    }

    &-info {
      grid-row: 2 / 4;
      width: 75%;
      height: 60%;
    }
  }
}

.show {
  top: 0;
}

.info {
  display: flex;
  gap: 30px;
}

.heart-shape {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: $gray-dark;
  transform: rotate(45deg);

  &-active {
    background-color: $red-light;
  }
}

.heart-shape::before,
.heart-shape::after,
.heart-shape-active::before,
.heart-shape-active::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: '';
  border-radius: 50%;
  background-color: $gray-dark;
}

.heart-shape::before,
.heart-shape-active::before {
  bottom: 0;
  left: -12px;
}

.heart-shape::after,
.heart-shape-active::after {
  top: -12px;
  right: 0;
}

.heart-shape-active::before,
.heart-shape-active::after {
  background-color: $red-light;
}
