// home
.popup {
  position: fixed;
  top: -150%;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  transition: 0.5s;

  &-close {
    position: absolute;
    top: 2%;
    right: 2%;
    height: 50px;
    width: 50px;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-img {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    text-transform: capitalize;
  }

  &-comments {
    height: auto;
    max-height: 100px;
    width: 320px;
    display: flex;
    flex-direction: column;

    h3,
    li {
      width: 100%;
    }

    h3 {
      text-align: center;
      margin: 5px 0;
    }

    ul {
      height: 75px;
      width: 100%;
      overflow-y: auto;
    }

    li {
      font-size: 1.5rem;
      margin-bottom: 7px;
    }
  }

  &-info {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
      width: 155px;
      margin-bottom: 10px;
      font-size: 1.3rem;

      &:nth-child(2n) {
        text-align: right;
      }
    }

    :last-child {
      width: 100%;
    }
  }

  &-add-comments {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    form {
      width: 320px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        width: 200px;
      }

      textarea {
        resize: vertical;
        max-height: 70px;
      }

      button {
        width: 210px;
      }
    }

    div {
      position: absolute;
      bottom: 7px;
      right: 0;
      background-color: chartreuse;
      width: 100px;
      border-radius: 5%;
      padding: 3px;

      p {
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }
}

.show {
  top: 0;
}

main {
  h1 {
    text-align: center;
    padding: 20px;
  }
}

.cardsContainer {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  padding: 20px;

  h2 {
    text-transform: capitalize;
  }

  .info {
    display: flex;
    gap: 30px;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.pokemon {
  border: 2px solid black;
  border-radius: 5%;
  width: 100%;
  height: 300px;
}
