@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');

html {
  font-size: 10px;
  font-family: 'Roboto Mono', monospace;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
