button {
  font-size: 2rem;
  border: 2px solid black;
  padding: 10px 20px;
}

.heart,
.menu,
.close {
  padding: 0;
  border: none;
}

button:hover {
  cursor: pointer;
}

.menu {
  img {
    width: 40px;
    height: 40px;
  }
}

.menuParent {
  display: none;

  @include for-small-devices {
    display: block;
  }
}

.close {
  img {
    width: 24px;
    height: 24px;
  }
}
