button {
  font-size: 2rem;
  border: 2px solid black;
  padding: 10px 20px;
  background-color: $black-custom;
  color: $white-custom;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
  transition: 0.3s;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $green-light;
    color: $black-custom;
    cursor: pointer;
  }
}

.heart {
  padding: 0;
  border: none;
}
