// grid
body {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'Header'
    'Main'
    'Footer';
  height: 100vh;
}

header {
  grid-area: Header;
}

main {
  grid-area: Main;
  overflow: auto;
}

footer {
  grid-area: Footer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $gray-dark;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-light;
}
